.Layout{
    background-image: url("./resources/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;
}

.image-container {
    display: flex;
    justify-content: flex-start;
    align-items: left;
  }
  
  .image-container img {
    margin-right: auto;
    margin-left: 76%;
  }
  
.purpleButton{

    background: #4F4FB9;
    border-radius: 8px;
}

.orangeButton{

    background: #F9973C;
    border-radius: 8px;
}

.greenButton{

    background: #4CA2A2;
    border-radius: 8px;
}

.backgorund {
    background-image: url("./resources/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }